.button{
  background-color: var(--background-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.button:hover{
  background-color: var(--main-color);
}