.main__logo{

  text-transform: capitalize;
}

.main__title{
  text-align: center;
}

.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  gap: 100px;
  padding: 30px;
}