:root{
  --main-color : #1f2235;
  --background-color : #23263a;
  --text-color : #ffffff;
  --secondary-color : #f64754;
  --width : 1380px;
}

html{
  font-size: 18px;
}

body{
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color : var(--text-color);
  background: var(--main-color);
  max-width: var(--width);
  margin:auto; 
}