.nav{
  display: flex;
  justify-content: space-between;
  width: calc(100% - 70px);
  margin: auto;
  align-items: center;
}

.img__logo{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: auto;
} 

.nav__list{
  list-style: none;
  display: flex;
  gap: 15px;
}